doctype html
html(lang='en')
	head
		meta(property='og:title', content='Michael K. Markie Portfolio')
		meta(property='og:type', content='profile')
		meta(property='og:url', content='https://michael.markie.co/design')
		meta(property='og:description', content='Design portfolio')
		meta(property='og:image', content='https://secure.gravatar.com/avatar/36f0eafc682e843597010b782508bb8d')

		meta(name='author', content='Michael K. Markie')
		meta(name='generator', content='Michael K. Markie (https://michael.markie.co)')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Michael K. Markie Portfolio

		link(rel='shortcut icon', href='https://secure.gravatar.com/avatar/36f0eafc682e843597010b782508bb8d')
		link(href='../assets/css/icons.css', rel='stylesheet')
		link(href='../assets/css/main.css', rel='stylesheet')
		link(href='../assets/css/print.css', rel='stylesheet', media='print')
		link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap", rel="stylesheet")
	body
		#lightbox(style='display: none;')
			div

		.gallery
			- var gallery = [{size:1, img:'christmas_appeal'},{size:1, img:'december_schedule'},{size:1, img:'minds_got_talent'},{size:1, img:'registration_form'},{size:1, img:'volunteer_event'},{size:2, img:'recruit'},{size:1, img:'rabbithole-bc'},{size:1, img:'christmas_programme'},{size:1, img:'photography_group'},{size:2, img:'award'},{size:1, img:'happiness_workshop'},{size:2, img:'three_peaks'},{size:2, img:'mind_website'}];
			each image in gallery.reverse()
				a(class="span-"+image.size, href='../assets/gallery/auto-842_'+image.img+'.jpg')
					picture
						source(srcset='../assets/gallery/auto-290_'+image.img+'.webp', type='image/webp')
						source(srcset='../assets/gallery/auto-290_'+image.img+'.jpg', type='image/jpeg')
						img(src='../assets/gallery/auto-290_'+image.img+'.jpg')
					picture.lightbox
						source(srcset='../assets/gallery/auto-842_'+image.img+'.webp', type='image/webp')
						source(srcset='../assets/gallery/auto-842_'+image.img+'.jpg', type='image/jpeg')
						img(src='../assets/gallery/auto-842_'+image.img+'.jpg')

		script(src='../assets/js/main.js')