doctype html
html(lang='en')
	head
		meta(property='og:title', content='Michael K. Markie Resumé')
		meta(property='og:type', content='profile')
		meta(property='og:url', content='https://michael.markie.co')
		meta(property='og:description', content='Professional Full Stack Web Developer')
		meta(property='og:image', content='https://secure.gravatar.com/avatar/36f0eafc682e843597010b782508bb8d')

		meta(name='description', content='Professional Full Stack Web Developer')
		meta(name='keywords', content='Michael, Markie, Michael Markie, Mike Markie, Michael K Markie, freelance, html, xhtml, css, html5, css3, developer, php developer, php, php5, javascript developer, javascript, jquery, jquery developer, LAMP, LEMP, administrator, drupal, wordpress, laravel, codeigniter, laravel 4')
		meta(name='author', content='Michael K. Markie')
		meta(name='generator', content='Michael K. Markie (https://michael.markie.co)')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Michael K. Markie

		link(rel="shortcut icon", href="https://secure.gravatar.com/avatar/36f0eafc682e843597010b782508bb8d")
		link(href='assets/css/icons.css', rel='stylesheet')
		link(href='assets/css/main.css', rel='stylesheet')
		link(href='assets/css/print.css', rel='stylesheet', media='print')
		link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap", rel="stylesheet")
	body
		noscript
			.js_warning Please remove "sp." and ".am" from email, if you enable Javascript this will be done automatically.
		.container
			h1
				a(href='https://michael.markie.co', title='Michael K. Markie | Professional/Freelance Website Developer') Michael K. Markie
			h2.text_centre Professional Full Stack Website Developer
			.fast_email Email:&nbsp;
				span.email
					a(href='mailto:sp.michael.am@markie.co') sp.michael.am@markie.co
			section
				h4
					.icon-pencil
					.title Summary
				ul
					li Up-to-date with new technologies and development knowledge in all areas of the web, from front end optimisation to server setup and configuration.
					li Detail-oriented and conscientious about monitoring my servers, e.g. noting which areas are getting overloaded and effectively shifting that load to other areas of the server to minimize running costs.
					li Passionate about lifelong learning and creative problem-solving, both in the field of technology and broad-based areas such as health, horticulture, art, literature and tool refurbishment, which can bring surprising insights and ideas relevant to web development.
					li Love outdoor pursuits such as hiking as well as gaming and surfing the web to explore creative solutions found by fellow web developers.
			section
				h4
					.icon-books
					.title Notable Achievements
				ul
					li eBay &amp; Amazon Bulk Integration: I integrated eBay &amp; Amazon allowing us to upload around 20,000 products with around 5,000 getting updated every hour, allowing us to compete at an affordable rate.
					li White label MVNO: I came up with a method of white labeling our e-commerce MVNO websites, which became sole purpose for our rapid deployment and resale value of our systems. The method of white labelling I developed allowed me to manage around 30 e-commerce websites with rapid deployment of updates.
					li Version Control: Solved major deployment issues by getting SVN/Git setup as soon as possible so that we could all work together far more efficiently. Once our teams started expanding, making changes became a major issue when it came to deployment, and my solution facilitated and optimised team collaboration.
					li CodeIgniter Frontend: Created a system that optimised staff training when it became apparent that Affordable Mobiles (a large scale mobile phone distributor) needed a framework to train new staff faster and have an efficient codebase to build on. I greatly extended a CodeIgniter foundation to effectively serve our needs. We later used my forked framework in over 30 MVNO websites.
					li Laravel Backend: Laravel became the cornerstone for our backend system. I used it to construct our intranet administration portal for our website.
					li Adapt to Business Model Changes: Swiftly developed understanding of new fields and adapted to them as fast as possible. For example, Shebang&apos;s business model changed rapidly and the focus of attention was frequently changing and diverse.
			section
				h4
					.icon-hardware
					.title Skills
				.skills.columns-2
					ul
						li Back end development
						li LAMP &amp; LEMP
						li Node.JS
							ul
								li TypeScript
								li Gulp
								li Bower
								li Express
								li Sails.js
						li Continuous Integration
							ul
								li Jenkins
								li GitLab CI
								li Github Actions
						li Unit Testing
							ul
								li Vitest
								li Jest
								li React Testing Library
								li PHPUnit
								li Cypress
						li PHP
							ul
								li Laravel
								li CodeIgniter
								li Symfony
								li Drupal
								li Wordpress
						li SQL
							ul
								li MySQL
								li AWS Aurora
								li SQLite
								li PostgreSQL
						li NoSQL
							ul
								li Mongo
								li Redis
								li CouchDB
						li Amazon API (REST)
						li eBay API (SOAP)
					ul
						li System Environments
						li macOS
						li Windows
						li Linux
							ul
								li Ubuntu
								li Debian
								li Alpine
								li Docker, Podman &amp; Vagrant
					ul
						li Front end development
						li CSS, LESS, SASS &amp; SCSS
						li HTML
						li Javascript
							ul
								li TypeScript
								li Vanilla
								li React
								li jQuery
								li AngularJS
								li Vue
								li GraphQL
					ul
						li Computer Programs
						li Sublime Text
						li Visual Studio Code
						li Version Control
							ul
								li Git
								li SVN
						li Navicat
						li DataGrip
						li Figma
						li Photoshop
						li Illustrator
			.clear
			section
				h4
					.icon-briefcase
					.title Professional History
				.item
					.title Markie Designs
					.subtitle  Web Designer and Developer / Freelancer
					.date  2006 - Present
				.item
					.title AO
					.subtitle Senior Software Engineer 
					.date September 2022 - Present
				.item
					.title Aberconwy Mind
					.subtitle  Volunteer
					.date  September 2017 - September 2020
				.item
					.title Blue Star Print Solutions Ltd
					.subtitle  Web Developer
					.date  December 2014 - September 2015
				.item
					.title Shebang Technologies Group Ltd
					.subtitle  Web Developer
					.date  December 2009 - August 2014
			section
				h4
					.icon-hat
					.title Education &amp; Qualifications
				.item
					.title Zenos Academy Ltd
					.date  May 2008
					ul.certificates.columns-2
						li.heading Microsoft
						li Microsoft&reg; Certified Desktop Support Technician
						li.heading CompTIA
						li CompTIA A+ Essentials
						li CompTIA A+ IT Technician
						li.heading City &amp; Guilds
						li Level 3 NVQ in IT Professionals and Practitioners
						li Health and Safety in ICT and Contact Centres 1
						li Develop Personal and Organisation Effectiveness
						li Customer Care 3
						li Interpersonal and Written Communication
						li Investigating and Defining Requirements
						li Remote Support For Products or Services
						li Technical Advice and Guidance 3
						li Level 3 Advanced Diploma for IT Professionals
						li Customer Support Provision 3
						li Install, Configure and Upgrade ICT Software
						li Maintain ICT Equipment and Systems 3
						li Plan for delivery of ICT support services and assist in the acquisition of ICT systems
						li Plan for delivery in ICT support services and assist in the acquisition of ICT systems (OL)
						li Install, configure and integrate networked hardware and software
						li Install, configure and integrate networked hardware and software (OL)
						li Level 2 Key Skills in Communication (2004)
						li Level 2 Key Skills in Application of Number
				.item
					.title Northampton College
					.date  July 2007
					ul.certificates
						li.heading Edexcel Level 2 BTEC First Diploma
						li Using ICT to Present Information
						li Introduction to Computer Systems
						li Installing Hardware Components
						li Software Installation and Upgrade
						li Technical Fault Diagnosis and Remedy
						li Mobile Communications Technology
						li Security of ICT Systems
			section
				h4
					.icon-speech
					.title Get in touch
				.details.email
					span.field Email
					span.value
						span.noprint
							a(href="mailto:sp.michael.am@markie.co") sp.michael.am@markie.co
						span.print sp.michael.am@markie.co
				.details
					span.field Code Portfolio
					span.value
						a.noprint(href='https://gitlab.com/michaelmarkie', target='_blank', rel="nofollow", title='Michael K. Markie Git') gitlab.com/michaelmarkie
						span.print gitlab.com/michaelmarkie
				.details
					span.field Design Portfolio
					span.value
						a.noprint(href='design', rel="nofollow", title='Michael K. Markie Portfolio') michael.markie.co/design
						span.print michael.markie.co/design
				.details
					span.field LinkedIn
					span.value
						a.noprint(href='http://linkedin.com/in/michaelmarkie', target='_blank', title='Michael K. Markie Linkedin') Michael Markie
						span.print linkedin.com/in/michaelmarkie
				.details
					span.field JSFiddle
					span.value
						a.noprint(href='http://jsfiddle.net/user/michaelmarkie/fiddles/', target='_blank', title='Michael K. Markie JSFiddle') michaelmarkie
						span.print jsfiddle.net/user/michaelmarkie/fiddles/
			.spacer

		script(src='assets/js/main.js')