
.blog
    .header
        text-align: center
        background: #f2f2f2
        border: 1px solid #d0d0d0
        margin-top: 20px
        @media screen and (max-width: 520px)
            overflow: auto
        .author
            position: relative
            float: left
            margin: 0 20px 0 -100px
            @media screen and (max-width: 520px)
                margin: 0
            img
                max-width: 200px
                width: 100%
                border-radius: 100%
                border: 4px solid #fff
                box-shadow: 0px 0px 4px rgba(0,0,0,0.5)
                @media screen and (max-width: 520px)
                    border-radius: 0
                    margin: 0 10px 0 0
            .name
                font-weight: bold
                font-size: 120%
                text-shadow: 0px 0px 4px rgba(0,0,0,0.5)
                position: absolute
                top: 40%
                text-align: center
                width: 100%
                color: #fff
        .description
            padding: 20px
            text-align: left


    ul.post-list
        padding: 0
        margin: 10px 0
        li
            list-style: none
            padding: 0
            margin: 10px 0
            p
                margin: 0
                padding: 0
            .date
                margin: 0
                padding: 0
                display: inline
            h4
                margin: 0 0 0 10px
                padding: 0
                display: inline
                a
                    text-decoration: none

    ul.pagination
        padding: 0
        margin: 0
        li
            padding: 0
            margin: 0
            list-style: none

    ul.meta
        margin: 0
        padding: 0
        li
            margin: 0 10px 0 0
            padding: 0
            list-style: none
            display: inline-block
            .fa
                margin-right: 10px
    .article-content
        img
            max-width: 100%
            border-top: 1px solid black
            float: left
